/* title */

#t{padding:calc(150px + 50 * (100vw - 320px) / 1080) calc(0px + 150 * (100vw - 320px) / 1080) calc(100px + 40 * (100vw - 320px) / 1080);text-align:center;}
#t h1{line-height:1.1;font-size:calc(15px + 1 * (100vw - 320px) / 1080);font-weight:bold;}
header#t h1{margin:calc(5px + 5 * (100vw - 320px) / 1080) 0;}
#t h1 strong{font-size:calc(25px + 15 * (100vw - 320px) / 1080);display:block;text-transform:uppercase;font-family:var(--ff2);font-weight:normal;letter-spacing:0;margin-bottom:5px;}
#t .bg{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden;z-index:-1;background-color:var(--bg_1);}
#t .bg > div{opacity:.4;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../../img/bg-kryxivia.jpg) center center no-repeat;background-size:cover;}
.wbp #t.bg > div{background-image:url(../../img/bg-kryxivia.webp);}
#t time{font-weight:bold;}

/* main */

#m{margin-top:calc(60px + 70 * (100vw - 320px) / 1080);}

/* media */
    
@media screen and (max-width:1250px){

}
