/* devblog add */

.dvs textarea{background-color:transparent;outline:1px dotted rgba(var(--color_2_rgb),.5);overflow:hidden;color:inherit;font-style:inherit;text-transform:inherit;line-height:inherit;width:100%;text-align:inherit;}
.dvs .bt{display:flex;align-items:center;justify-content:center;}
.dvs .bt button{margin:10px;border:2px solid var(--color_2);font-weight:bold;color:var(--color_2);padding:10px 20px;}
.dvs .bt button:hover{background-color:var(--color_2);color:var(--color_2_txt);}
.dvs .controls{display:none;}
.dvs [data-img] picture{cursor:pointer;min-height:50px;border:1px dotted rgba(var(--color_2_rgb),.5);text-align:center;font-weight:bold;line-height:50px;}
.dvs [data-img] picture:hover{border-color:var(--color_2);}
.dvs [data-remove]{margin-top:0!important;background-color:#ff1c41;width:20px;position:absolute;right:0;top:0;transform:translateX(130%);height:20px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:bold;font-family:'Gilroy';}
.dvs .inf{text-align:center;}
.dvs select{background:transparent;font-family:var(--ff);color:var(--color_1);font-size:calc(16px + 3 * (100vw - 320px) / 1080);border:1px dotted rgba(var(--color_2_rgb),.5);width:100%;padding:10px;cursor:pointer;}
#t h1 strong{text-transform:initial;}
.dvs h2{text-transform:initial!important;}

html.saving, html.saving *{cursor:wait!important;pointer-events:none!important}

.mss{transition:.2s;opacity:0;pointer-events:none;position:fixed;bottom:0;left:50%;transform:translateX(-50%);z-index:9999;background:red;color:#fff;font-size:calc(14px + 2 * (100vw - 320px) / 1080);font-weight:bold;padding:10px 20px;}
.mss.show{opacity:1}