/* font-face */

@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-Extrabold.woff') format('woff');font-weight:bold;font-style:normal;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-ExtraboldItalic.woff') format('woff');font-weight:bold;font-style:italic;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-Medium.woff') format('woff');font-weight:500;font-style:normal;}
@font-face{font-display:swap;font-family:'Gilroy';src:url('../fonts/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),url('../fonts/gilroy/Gilroy-MediumItalic.woff') format('woff');font-weight:500;font-style:italic;}
@font-face{font-display:swap;font-family:'Sentient';src:url('../fonts/sentient/sentient-medium-webfont.woff2') format('woff2'),url('../fonts/sentient/sentient-medium-webfont.woff') format('woff');font-weight:normal;font-style:normal;}

/* general */

*,*:after,*:before{position:relative;box-sizing:border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button,hr,input,textarea{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a,button{transition:var(--transi);cursor:pointer;color:inherit;}
button{border:0;padding:0;background:none;display:inline-block;}
a,a:hover,button,button:hover,*:focus,*:active{text-decoration:none;outline:none;}
body{line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:subpixel-antialiased;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
strong{font-weight:bold}
img,svg{vertical-align:bottom;max-width:100%;height:auto;}
textarea{resize:none;}
picture{display:block;}
picture img{max-width:100%;width:100%;}
html[lang="ar"], html[lang="ar"] *, html:lang(ar), html:lang(ar) *{direction:ltr!important;} 

/* var */

:root{
    --ff:'Gilroy', sans-serif;
    --ff2:'Sentient', serif;
    --fs:calc(13px + 2 * (100vw - 320px) / 1080);
    --fs_title:calc(20px + 15 * (100vw - 320px) / 1080);

    --cubic:cubic-bezier(.305,.045,.355,1);
    --transi:.4s var(--cubic);
    --ct:calc(650px + 400 * (100vw - 320px) / 1080);

    --color_1_rgb:240,221,202;
    --color_1:rgb(var(--color_1_rgb));

    --color_2_rgb:186,56,253;
    --color_2:rgb(var(--color_2_rgb));

    --color_3_rgb:206,59,255;
    --color_3:rgb(var(--color_3_rgb));

    --color_4_rgb:124,38,255;
    --color_4:rgb(var(--color_4_rgb));

    --color_5_rgb:58,38,29;
    --color_5:rgb(var(--color_5_rgb));

    --color_6_rgb:26,20,21;
    --color_6:rgb(var(--color_6_rgb));

    --color_7_rgb:199,185,170;
    --color_7:rgb(var(--color_7_rgb));

    --kxa_1_rgb:255,58,104;
    --kxa_1:rgb(var(--kxa_1_rgb));
    --kxa_2_rgb:181,39,160;
    --kxa_2:rgb(var(--kxa_2_rgb));

    --kxs_1_rgb:85,214,255;
    --kxs_1:rgb(var(--kxs_1_rgb));
    --kxs_2_rgb:118,161,249;
    --kxs_2:rgb(var(--kxs_2_rgb));

    --bg_1_rgb:14,11,9;
    --bg_1:rgb(var(--bg_1_rgb));

    --bx_1:0 0 0 1px rgba(255,255,255,.05), 0 0 0 1px #000 inset;
    --bx_2:0 0 0 1px rgba(255,255,255,.05) inset, 0 0 0 1px #000;

    --blur:blur(10px);
    --opac:.65;

    --tx:0 1px 3px rgba(0,0,0,.3), 0 1px 6px rgba(0,0,0,.2);

    --radius_1:5px;

    --green:rgb(58,255,90);

}

@supports not (backdrop-filter:blur(0px)) {
    :root{
        --opac:.8;
    }
}

/* scrollbar styling */
*{scrollbar-color:var(--color_3) var(--bg_1);scrollbar-width:thin;}
*::-webkit-scrollbar{width:3px;background-color:var(--bg_1);}
*::-webkit-scrollbar-thumb{background-color:var(--color_3);}

/* selection styling */
*::-moz-selection{background-color:rgba(var(--color_3_rgb),.8);color:var(--color_1);text-shadow:0 0 0;}
*::selection{background-color:rgba(var(--color_3_rgb),.8);color:var(--color_1);text-shadow:0 0 0;}

/* selection placeholder */
::-webkit-input-placeholder{color:inherit;opacity:.3;}
::-moz-placeholder{color:inherit;opacity:.3;}
::-ms-input-placeholder{color:inherit;opacity:.3;}

/* * */

html, body{font-size:calc(13px + 3 * (100vw - 320px) / 1080);height:auto;scroll-behavior:smooth;color:var(--color_1);line-height:1;font-family:var(--ff);font-weight:500;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html{overflow-x:hidden;overflow-y:auto;background:url(../img/bg.jpg?v=2) repeat-y var(--bg_1);background-size:100% auto;}
html.wbp{background-image:url(../img/bg.webp?v=2);}

html #app{overflow:hidden;width:100vw;}

html.ie body > *{display:none!important;}
html.ie body:after{content:"";position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:100;background:url(../img/logo-kryxivia.png) no-repeat center center;background-size:auto 250px;opacity:1;}
html.ie.wbp body:after{background-image:url(../img/logo-kryxivia.webp);}
html.ie body:before{position:absolute;line-height:1.4;top:50vh;transform:translateY(-50%);width:100%;z-index:1;padding:0 15vw;text-align:center;font-size:calc(14px + 3 * (100vw - 320px) / 1080);content:"Ce site n'est plus mis Ã  jour sur votre navigateur depuis l'arrÃªt de son support de la part de Microsoft. Veuillez tÃ©lÃ©charger un navigateur plus rÃ©cent tel que Google Chrome, Mozilla Firefox ou Edge.";}

.ct{width:calc(800px + 300 * (100vw - 320px) / 1080);max-width:85%;margin:auto;}

.sub{font-weight:bold;font-size:calc(14px + 1 * (100vw - 320px) / 1080);}
.sub + *{margin-top:calc(15px + 5 * (100vw - 320px) / 1080);}

.h2{line-height:1.1;font-family:var(--ff2);font-size:calc(20px + 13 * (100vw - 320px) / 1080);text-transform:uppercase;}
.h2 small{font-size:80%;display:block;}
.h3{line-height:1.1;font-family:var(--ff2);font-size:calc(18px + 10 * (100vw - 320px) / 1080);text-transform:uppercase;}

.sparks{position:absolute;left:0;bottom:0;width:100%;height:100%;z-index:100;pointer-events:none;}

.dr{color:var(--tx);display:inline-block;background:linear-gradient(to bottom,var(--color_3),var(--color_4));font-weight:normal;background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:0 10px 25px rgb(214 21 154 / 20%);}
.kxa{font-family:var(--ff);font-weight:bold;color:var(--tx);display:inline-block;background:linear-gradient(to bottom,var(--kxa_1),var(--kxa_2));background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:0 10px 25px rgb(214 21 154 / 20%);}
.kxs{font-family:var(--ff);font-weight:bold;color:var(--tx);display:inline-block;background:linear-gradient(to bottom,var(--kxs_1),var(--kxs_2));background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:0 10px 25px rgb(214 21 154 / 20%);}

@supports not (background-clip:border-box) {
    .dr{color:var(--tx);background:transparent;}
    .kxa{color:var(--kxa_1);background:transparent;}
    .kxs{color:var(--kxs_1);background:transparent;}
}

.p{line-height:1.8;font-size:calc(14px + 1 * (100vw - 320px) / 1080);color:var(--color_7);}
* + .p{margin-top:calc(25px + 5 * (100vw - 320px) / 1080);}
.p > * + *{margin-top:calc(10px + 5 * (100vw - 320px) / 1080);}

.b-ix{position:absolute;right:0;bottom:0;width:100%;min-width:700px;z-index:10;pointer-events:none;user-select:none;-moz-user-select:none;transform:translateY(20%);}
.t-ix{position:absolute;left:0;top:0;width:100%;min-width:700px;z-index:10;pointer-events:none;user-select:none;-moz-user-select:none;transform:translateY(-20%);}

[data-title]:before{content:attr(data-title);position:absolute;bottom:100%;left:50%;transform:translateX(-50%);border:1px solid red;}

/* button */

.bn{--c1:var(--color_4);--c2:var(--color_3);letter-spacing:0px;font-size:calc(14px + 1 * (100vw - 320px) / 1080);border-radius:var(--radius_1);white-space:nowrap;font-weight:bold;transition:color .3s, transform .15s;overflow:hidden;text-align:center;border:1px solid #000;box-shadow:0 0 25px rgba(0,0,0,.8);display:inline-flex;align-items:center;justify-content:center;flex-direction:column;padding:calc(15px + 5 * (100vw - 320px) / 1080) calc(20px + 5 * (100vw - 320px) / 1080);}
.bn.small{font-size:13px;padding:13px 15px;}
.bn:active{transform:scale(.95);}
.bn:after{border-radius:var(--br);content:'';position:absolute;left:0;top:0;width:100%;height:100%;box-shadow:0 0 0 1px rgba(255,255,255,.02) inset;border:5px solid rgba(0,0,0,.3);border-top-color:rgba(255,255,255,.1);}
.bn.small:after{border-width:3px;}
.bn:before{transition:transform .5s var(--cubic);content:'';position:absolute;left:0;top:0;width:100%;height:330%;background:linear-gradient(-5deg, var(--c1), var(--c2), var(--color_5), var(--color_6));}
.bn:hover{color:#fff;}
.bn:hover:before{transform:translateY(-60%);}
.bn.pck{--c2:#20c7d4;--c1:#0ea4f2;}
.bn.mxc{--c2:#76fcb2;--c1:#00b898;}
.bn.dex{--c2:#0ba6ff;--c1:#0a72ff;}
.bn [data-tile]{position:absolute;left:0;top:0;width:100%;height:100%;}
.bn.disabled{cursor:not-allowed;opacity:.3;filter:sepia(1);}
.bn.disabled:before{transform:none!important;}
.bn.bdge{font-size:13px;padding:5px 10px;color:#fff;border-radius:100px;vertical-align:middle;}
.bn.bdge:before{transform:translateY(-60%);}
.bn.bdge:after{border-width:2px;border-radius:100px;}
.bn.bdge-1{--c2:#f40944;--c1:var(--c2);}
.bn.bdge-2{--c2:#f409e1;--c1:var(--c2);}
.bn.bdge-3{--c2:#6709f4;--c1:var(--c2);}
.bn.bdge-4{--c2:#0983f4;--c1:var(--c2);}
.bn.bdge-5{--c2:#0983f4;--c1:var(--c2);}
.bn.bdge-6{--c2:#f4c509;--c1:var(--c2);}

/* load */

.load{z-index:9999;box-shadow:0 0 calc(300px + 300 * (100vw - 320px) / 1080) rgba(0,0,0,.8) inset;position:fixed;top:0;left:0;width:100vw;height:100vh;display:flex;align-items:center;justify-content:center;}
.load img{width:calc(250px + 150 * (100vw - 320px) / 1080);}

/* header */

#h{--t:.6s var(--cubic);--h:65px;position:absolute;left:0;top:0;z-index:9000;width:100%;color:var(--color_1);}
#h .top-h{position:absolute;left:0;width:calc(300px + 300 * (100vw - 320px) / 1080);}
#h .lg{z-index:1000;transition:var(--t);display:flex;width:340px;transform:translateY(-73.5%);top:0;}
.fx #h .lg{width:250px;transform:translateY(-41%);}
#h .hc{padding:0 calc(30px + 15 * (100vw - 320px) / 1080);transition:top var(--t);position:fixed;width:100%;display:flex;height:var(--h);top:calc(40px + 20 * (100vw - 320px) / 1080);background-color:rgba(var(--bg_1_rgb),var(--opac));box-shadow:var(--bx_1);backdrop-filter:var(--blur);}
.fx #h .hc{top:10px;}
#h .lang{--tr:.6s;--n:13;--w:23px;--p:5px;--mt:4px;width:50px;z-index:1000;}
#h .lang > div{position:absolute;width:var(--w);top:calc(50% - var(--w)/2);left:calc(50% - var(--w)/2);}
#h .lang > div:before{transition:opacity var(--tr);opacity:0;content:'';position:absolute;left:calc(var(--p)*-1);top:calc(var(--p)*-1);border-radius:100px;background-color:rgba(var(--bg_1_rgb),var(--opac));box-shadow:var(--bx_2), 0 0 25px rgba(0,0,0,.8);backdrop-filter:var(--blur);width:calc(100% + var(--p)*2);height:calc(100% + var(--p)*2);}
#h .lang:hover > div:before{opacity:1;}
#h .lang > div ul{display:flex;flex-direction:column;border-radius:100px;transition:var(--tr);overflow:hidden;height:var(--w);}
#h .lang:hover > div ul{height:calc((var(--w) + var(--mt)) * var(--n));}
#h .lang li{order:1;}
#h .lang li.select{order:0;margin-top:0;}
#h .lang li.select:before{content:'';z-index:15;position:absolute;left:0;top:0;width:100%;height:100%;}
#h .lang li:first-child:not(.select),
#h .lang li + li{margin-top:var(--mt);}
#h .lang a img{transition:.2s;box-shadow:var(--bx_1);border-radius:50%;padding:0;border:1px solid #000;}
#h .lang li:not(.select) a img{opacity:.8}
#h .lang li:not(.select) a:hover img{border-color:var(--color_2);opacity:1;}
#h .r{margin-left:auto;height:100%;display:flex;align-items:center;}
.stck{height:calc(100% + 6px);}
.stck strong{font-weight:normal;display:block;font-family:var(--ff2);text-transform:uppercase;font-size:17px;}
.stck strong .hov{transition:.5s var(--cubic);position:absolute;left:0;top:0;opacity:0;}
.stck:hover strong .hov{opacity:1;}
.stck small{font-weight:bold;margin-top:3px;display:block;font-size:13px;}

#h .bnv{width:calc(var(--h) + 6px);height:calc(var(--h) + 6px);margin-left:5px;}
#h .bnv svg{pointer-events:none;width:150%;max-width:150%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
#h .bnv path{fill:none;stroke:var(--color_1);stroke-width:2;--length:24;--offset:-38;stroke-dasharray:var(--length) var(--total-length);stroke-dashoffset:var(--offset);transition:all .8s cubic-bezier(.645,.045,.355,1);}
#h .bnv .l-1, #h .bnv .l-3{--total-length:125;}
#h .bnv .l-2{--total-length:70;}
.onav #h .bnv .l-1, .onav #h .bnv .l-3{--length:22;--offset:-92.5;}
.onav #h .bnv .l-2{--length:0;--offset:-50;}

.plyn{position:fixed;bottom:10px;top:auto;height:auto;animation:plyn 2s infinite linear;left:50%;transform:translateX(-50%)!important;z-index:9999999;}

@keyframes plyn{
    0%{box-shadow:0 0 0 0 var(--color_3);}
    50%{box-shadow:0 0 0 15px rgba(var(--color_3_rgb),0);}
    50.01%{box-shadow:0 0 0 0 var(--color_4);}
    100%{box-shadow:0 0 0 15px rgba(var(--color_4_rgb),0);}
}

/* nav */

#n{height:100%;font-size:calc(13px + 1 * (100vw - 320px) / 1080);font-weight:bold;text-shadow:0 1px 2px rgba(0,0,0,.5);}
#n ul{display:flex;height:100%;}
#n ul li{height:100%;}
#n ul li a{--c:var(--color_2_rgb);padding:0 calc(15px + 5 * (100vw - 320px) / 1080);display:flex;height:calc(100% - 2px);top:1px;align-items:center;}
#n ul li a:before{opacity:0;transition:var(--transi);box-shadow:var(--bx_2), 0 0 25px rgba(0,0,0,.8), 0 0 20px rgba(255,255,255,.15) inset;content:'';position:absolute;left:0;width:100%;height:100%;top:0;text-shadow:var(--tx);}
#n ul li a:hover:before{opacity:1;}

/* footer */

#f{z-index:100;}
#f .f-t{min-width:600px;position:absolute;left:50%;width:100%;bottom:100%;z-index:50;transform:translate(-50%, 25%);pointer-events:none;user-select:none;-moz-user-select:none;}
#f .left-t{display:flex;align-items:center;}
#f .ct{display:flex;justify-content:space-between;align-items:flex-start;z-index:100;padding:calc(50px + 50 * (100vw - 320px) / 1080) 0 0;}
#f .ct .left{padding-top:calc(15px + 5 * (100vw - 320px) / 1080);}
#f .ct-d{padding:calc(20px + 20 * (100vw - 320px) / 1080) 0 calc(25px + 15 * (100vw - 320px) / 1080);}
#f .ct-r a{position:absolute;top:0;z-index:100;display:flex;align-items:center;justify-content:center;width:25%;top:48%;left:50%;transform:translate(-50%, -50%);}
#f .ct-r a:hover:before{transition:opacity .2s;z-index:10;animation:krysL 4s infinite alternate;animation-delay:var(--d);content:'';position:absolute;width:350%;height:250%;background:radial-gradient(var(--c) 0%, transparent 70%);top:50%;left:50%;transform:translate(-50%, -50%);}
#f .ct-r > *:nth-child(1) a{--c:#0088cc;}
#f .ct-r > *:nth-child(2) a{--c:#1da1f2;}
#f .ct-r > *:nth-child(3) a{--c:#ff5700;}
#f .ct-r > *:nth-child(4) a{--c:#5865f2;}
#f .ct-r > *:nth-child(5) a{--c:#02b875;}
#f .ct-r > *:nth-child(6) a{--c:#0a66c2;}
#f .ct-r > *:nth-child(7) a{--c:#c32aa3;}
#f .ct-r a svg{fill:var(--c);width:100%;height:100%;}
#f .ct-r > *:before{opacity:.5;content:'';position:absolute;left:15%;top:15%;width:70%;height:70%;background:var(--bg_1);border-radius:50%;}
#f .ct .left .lg{left:-5px;width:200px;margin-bottom:15px;top:-2px;margin-right:20px;}
#f .ct .left .copy{margin-top:5px;font-size:13px;opacity:.5;}
#f .ct .right{padding-top:30px;display:flex;align-items:flex-start;}
#f .ct .right ul li:first-child{margin-bottom:20px;text-transform:uppercase;font-weight:bold;font-size:14px;}
#f .ct .right ul + ul{margin-left:calc(50px + 20 * (100vw - 320px) / 1080);}
#f .ct .right ul li + li{margin-top:calc(10px + 2 * (100vw - 320px) / 1080);}
#f .ct .right ul a{opacity:.5;}
#f .ct .right ul a:hover{opacity:1;color:var(--color_2);}

/* down */
    
#do{margin-top:calc(80px + 100 * (100vw - 320px) / 1080);text-align:center;text-shadow:var(--tx);display:flex;align-items:center;padding:calc(80px + 80 * (100vw - 320px) / 1080) 0;width:100%;background-color:var(--bg_1);}
#do .title{margin-bottom:calc(30px + 5 * (100vw - 320px) / 1080)}
#do .ct{z-index:5000;padding:0 5%;}
#do .dc{margin-top:calc(35px + 10 * (100vw - 320px) / 1080);text-align:center;display:flex;justify-content:space-between;}
#do .dc > li:nth-child(1){--co:var(--green);}
#do .dc > li:nth-child(2){--co:#e8516d;}
#do .dc > li:nth-child(3){--co:#66bdf9;}
#do .dc > li:nth-child(4){--co:var(--color_2);}
#do .dc small{display:block;font-weight:normal;font-size:calc(12px + 2 * (100vw - 320px) / 1080);}
#do .dc strong{text-shadow:var(--ts), 0 0 calc(25px + 15 * (100vw - 320px) / 1080) var(--co), 0 0 calc(5px + 2 * (100vw - 320px) / 1080) var(--co);color:var(--co);margin-top:15px;display:block;font-weight:bold;text-transform:uppercase;font-size:calc(18px + 12 * (100vw - 320px) / 1080);}
#do .dc img{height:150px;width:auto;margin-bottom:25px}
#do .bg{--c:var(--color_2);position:absolute;left:0;top:0;opacity:1;width:100%;height:100%;overflow:hidden;pointer-events:none;user-select:none;-moz-user-select:none;background-color:var(--bg_1);}
#do .bg:before{z-index:1;opacity:.2;animation:krysL 4s infinite alternate;animation-delay:var(--d);content:'';position:absolute;width:70%;height:80%;background:radial-gradient(var(--c) 0%, transparent 70%);top:50%;left:50%;transform:translate(-50%, -50%);}
#do .bg > div{position:absolute;left:0;top:0;width:100%;opacity:.3;height:100%;background:url(../img/bg-down.jpg) center center no-repeat;background-size:cover;z-index:1;}
.wbp #do .bg > div{background-image:url(../img/bg-down.webp);}
#do .down-ix{min-width:600px;position:absolute;left:50%;width:100%;top:0;z-index:500;transform:translate(-50%, -25%);pointer-events:none;user-select:none;-moz-user-select:none;}
#do .down-ix-b{min-width:600px;overflow:hidden;position:absolute;left:50%;width:100%;top:0;z-index:50;transform:translate(-50%, -15%);pointer-events:none;user-select:none;-moz-user-select:none;}
#do .bot-ix{min-width:600px;position:absolute;left:50%;width:100%;bottom:0;z-index:500;transform:translate(-50%, 25%);pointer-events:none;user-select:none;-moz-user-select:none;}
#do .knight{--c:58,255,90;--d:15px;}
#do .knight:before{animation:online 1s infinite linear;position:absolute;content:'';width:var(--d);bottom:15px;left:50%;transform:translateX(-50%);z-index:100;height:var(--d);background-color:rgb(var(--c));border-radius:50%;}
#do .bt{margin-top:calc(35px + 10 * (100vw - 320px) / 1080);}

@keyframes online{
    0%{box-shadow:0 0 0 0 rgba(var(--c),1);}
    100%{box-shadow:0 0 0 calc(var(--d)/2) rgba(var(--c),0);}
}
@keyframes krys{
    0%{transform:translateY(0%);}
    50%{transform:translateY(-7%);}
    100%{transform:translateY(0%);}
}
@keyframes krysL{
    0%{opacity:.1;}
    50%{opacity:.4;}
    100%{opacity:.1;}
}

/*----------------------------------------------------< MEDIA QUERIES >---------------------------------------------------*/

@media screen and (min-width:1251px){

    #h .bnv{display:none;}

}
@media screen and (max-width:1250px){

    #n{padding-top:calc(50px + 30 * (100vw - 320px) / 1080);opacity:0;visibility:hidden;transition:.8s;display:flex;align-items:center;justify-content:center;position:fixed;top:calc((40px + 20 * (100vw - 320px) / 1080) * -1);left:0;width:100vw;height:100vh;background-color:rgba(var(--bg_1_rgb),.9);box-shadow:var(--bx_1);}
    .onav #n{opacity:1;visibility:visible;}
    .fx #n{top:-10px;}
    #n ul{height:auto;flex-direction:column;font-size:calc(25px + 15 * (100vw - 320px) / 1080);justify-content:center;align-items:center;text-align:center;}
    #n ul li + li{margin-top:calc(20px + 5 * (100vw - 320px) / 1080);}
    #n ul li a:before{display:none;}
    html:not(.mob) #n ul li a:hover{color:var(--color_2);}

}
@media screen and (max-width:1000px){

    #do .dc{--mg:calc(30px + 15 * (100vw - 320px) / 1080);margin-top:calc(var(--mg)*);flex-wrap:wrap;}
    #do .dc > *{width:50%;margin-top:var(--mg);}

}
@media screen and (max-width:850px){

    #h .stck{display:none;}

}
@media screen and (max-width:760px){

    #h{--h:50px!important;}
    #h .lg{width:250px!important;transform:translateY(-67%)!important;}
    #h .hc{padding:0 calc(15px + 5 * (100vw - 320px) / 1080);}

    #f .ct-d{flex-direction:column;text-align:center;align-items:center;}
    #f .left-t{flex-direction:column;}
    #f .copy{margin-top:25px!important;}
    #f .lg{margin-right:0!important}

}
@media screen and (max-width:575px){

    #h{--h:50px!important;}
    .fx #h .hc,
    .fx #n{top:-1px;}
    .fx #h .lg{width:180px!important;transform:translateY(-33.5%)!important;}
    .fx #h .hc{padding:0 calc(5px + 5 * (100vw - 320px) / 1080);}
    #h .lang{left:-5px;}

    #f .ct-r{flex-wrap:wrap;justify-content:center;}
    #f .ct-r > *{width:25%;}

}